[submodule "SoftEng1"]
	path = SoftEng1
	url = https://github.com/MarySymFairy/SoftEng1_ece_auth_2024.git
[submodule "SoftEng2"]
	path = SoftEng2
	url = https://github.com/MarySymFairy/SEII-Reservio.git
[submodule "DB_ece_auth_2024"]
	path = DB_ece_auth_2024
	url = https://github.com/MarySymFairy/DB_ece_auth_2024.git
[submodule "HW1_ece_auth_2024"]
	path = HW1_ece_auth_2024
	url = https://github.com/MarySymFairy/HW1_ece_auth_2024.git
